*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #383838;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    display:contents;
 
}

.nav{
    height: 80px;
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    border: #000;
}

.nav_rt{
    display: flex;
    gap: 3vw;
}

#logo{
    justify-content: center;
}

#nav_center{
    font-size: 2.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
    font-weight: 300;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
}

.nav_rt h4{
    font-size: 1.5vw;
    font-family: Roboto, sans-serif;
    font-weight: 1000;
}

.nav i{
    font-size: 1.5vw;
    justify-content: center;
    display: none;
}



.center{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

#left{
    width: 35%;
    height: 150%;
    border: 2px solid black;

}

#left img{
    position: relative;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 8px;
}

#scroll-div{
    position: relative;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#scroll-div::-webkit-scrollbar{
    display: none;
}

#scroll-div h1{
    display: inline-block;
    font-size: 8vmax;
    text-transform: uppercase;
    margin-right: 1%;
    letter-spacing: 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes scroll{
    0%{
        transform: translateX(calc(-100% - 12px));
    }
    100%{
        transform: translateX(0);
    }
}

.right{
    width: 65%;
    height: 100%;
    padding: 40px;
    color: #e4e4e4;
}

#DOB h2{
    font-size: 30px;
    justify-content: center;
}

#Facts{
    margin-top: 20px;
    font-size: 30px;
}

.factlist{
    padding: 18px;
    padding-left: 30px;

}

.factlist p{
    color:#e4e4e4;
    font-size: 1.5vw;
    line-height: 1.3;
    padding-bottom: 10px;
}

@media (max-width:900px) {
    .nav{
        padding: 0 5vw;
    }

    .nav h4{
        font-size: 3.5vw;
        display: none;
    }

    #nav_center{
        font-size: 3.3vw;
    }

    .nav i{
        display: block;
        font-size: 3vw;
        font-weight: 800
    }

    .center{
        display:contents;
        align-items: center;
    }

    #left{
        width: 100%;
        height: 50%;
    }

    .right{
        width: 100%;
        height: 50%;
    }

    .factlist p{
        color:#e4e4e4;
        font-size: 4vw;
        line-height: 1.3;
        padding-bottom: 10px;
    }

    #left img{
        position: relative;
        width: 35vmax;
        height: auto;
        margin-left: 20%;
        margin-top: 10%;
        border: 2px solid black;
        border-radius: 8px;
    }
}
